html, body {
    height: 100%;
}

.center {
    width: 1000px;
    margin: auto;
}

.main {
    min-height: 100%;
    width: 100%;
    position: relative;
    background-color: #f2f2f2;
    overflow: auto;
}

.comTitle {
    height: 40px;
    line-height: 40px;
    border-bottom: 3px solid #1f88c7;

}

.tagName {
    font-size: 18px;
    padding: 0 10px 0 5px;
    color: #0a4390;
    font-weight: bolder;
    float: left;
    border-bottom: 3px solid #ff610f;

}

.more {
    float: right;
    width: 60px;
    text-align: center;

}

.more a {
    color: #bbb;
    font-size: 14px;

}

.more a:hover {
    color: #ff610f;
    font-weight: bold;
}

/*头部工具栏*/
.header {
    height: 140px;
}

.toolBar {
    height: 35px;
    background-color: #676767;
    font-size: 12px;
    color: #ccc;
}
.t_txt{display:inline;float:right;font-size:0px;line-height:0px;height:34px;overflow:hidden;}
.t_txt a,.t_txt span{display:inline-block;height:35px;font-size:12px;color:#ccc;line-height:35px;vertical-align:top;}
.t_txt a{padding:0px 15px;}
.t_txt a.bg_clr{background:#a0a0a0;}
.t_txt a.bg_clr2{background:#828282;}
.t_txt a.bg_clr3{background:#a11017;}
.t_txt a img{display:inline-block;margin-top:10px;}

.login a {
    font-size: 14px;
    color: #ccc;
    display: inline-block;
    line-height: 35px;
    padding: 0 15px;
}

.login {
    float: left;
}

.toolBarTxt {
    float: right;
}

/*.toolBarTxt a {*/
    /*font-size: 12px;*/
    /*color: #ccc;*/
    /*display: inline-block;*/
    /*line-height: 35px;*/
    /*padding: 0 10px;*/
/*}*/

/*.toolBarTxt a:hover {*/
    /*text-decoration: underline;*/
/*}*/

.vline {
    line-height: 20px;
}

/*头部搜索标题栏*/
.title-wrapper {
    height: 100%;
}

.title {
    background-color: #fff;
    height: 105px;
}

.titleLogo {
    height: 100%;
    display: inline-block;
}

.titleLogo img {
    margin-top: 15px;
}
.titleLogo-right{
    float: right;
    margin-top: 5px;
}
.search-box{
    margin-top: 15px;
    float: right;
}
.onsite{
    color: #ccc;
    height: 30px;
    line-height: 30px;
}
.onsite a{
    display: inline-block;
    margin-right: 5px;
    color: #ccc;

}
.search-box input{
    display: inline-block;
    height: 28px;
    width: 400px;
    font-size: 12px;
    line-height: 28px;
    padding: 0 5px;
}
.search-box img{
    height: 30px;width: 30px;
}
.search-box .search-btn{
    display: inline-block;
    vertical-align: bottom;
}
.search-box .search-btn a{
    display: inline-block;
    font-size: 16px;
    color: #1f88c7;
    height: 30px;
    line-height: 30px;
    vertical-align: bottom;
}
/*菜单栏*/
.nav {
    background-color: #0a4390;
    height: 60px;
}

.nav-wrapper {
    height: 100%;
}

.home {
    float: left;
    height: 100%;
    display: inline-block;
    padding: 0 15px;
    color: #ffffff;
    font-size: 16px;
    line-height: 60px;
}

a.home:hover {
    background-color: #002d6a;
}

.menuBox {
    float: left;
    padding: 10px 30px 10px 20px;
    border-right: 1px solid #3761a0;
}

.menuBox:last-child {
    padding-left: 40px;
    padding-right: 10px;
    border-right: none;
}

.menuBox ul.mainMenu {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #ffffff;
}

.menuBox .mainMenu>li {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    line-height: 12px;
}
.menuBox .subMenu{
    position: absolute;
    top:12px;
    left: -15px;
    opacity: 0.9;
    visibility: hidden;
}
.menuBox .subMenu li{
    background-color: #0a4390;
    padding:5px 15px 10px 15px;
    display: block;
    /*font-size: 12px;*/
}
.menuBox .subMenu li:first-child{
    padding-top: 10px;
}
.menuBox li a {
    display: block;
    white-space:nowrap;
    color: white;
}
.menuBox li a:hover {
    color: #ff610f;
}

.menuBox .mainMenu>li:first-child {
    font-size: 14px;
    line-height: 14px;
    font-weight: bolder;
    margin-right: 20px;
}

/*区域一*/
.top {
    overflow: auto;
}

.top-wrapper {
    /*height: 100%;*/
}

.left {
    float: left;
    width: 350px;
    background-color: #ffffff;
}

.observation {
    padding: 0 10px 10px 10px;
    margin-left: 10px;
    margin-top: 20px;
    overflow: auto;
    font-size: 16px;
    border-bottom: 1px dashed #047ac0;
    color: #047ac0;
}

.observation .viewpoint {
    float: left;
    font-weight: bolder;

}

.observation .viewpoint a {
    color: #047ac0;

}

.observation .viewpoint a:hover {
    color: #02a7f4;

}

.observation .viewpoint-more {
    font-size: 12px;
    float: right;
}

.observationList {
    padding: 10px 10px 0 20px;
}

.observationList li {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.observationList li a {
    display: block;
}

.observationList li a:hover {
    color: #02a7f4;
}

.slideshow {
    position: relative;
}

.pic li p {
    position: absolute;
    bottom: 0px;
    height: 40px;
    background-color: #3f3f3f;
    opacity: 0.7;
    width: 100%;
}

.pic li p a {
    color: #ffffff;
    display: block;
    font-size: 18px;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}

.pic li a img {
    width: 350px;
    height: 240px;
}

.hd {
    z-index: 1;
    height: 25px;
    width: 350px;
    position: absolute;
    top: 0;
    text-align: right;
}

.hd li {

    display: inline-block;
    margin-top: 8px;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cccccc;
}

.hd li.on {
    background-color: #1f8fd6;
}

.central {
    float: left;
    box-sizing: border-box;
    width: 340px;
    height: 100%;
    padding: 0 15px 0 30px;
    background-color: #ffffff;
    margin-right: 10px;
}

.subWrapper {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.subA {
    height: 80px;
}

.subA h2 {
    height: 40px;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
}

.subA h2 a {
    display: block;
    width: 100%;
    font-size: 16px;
    color: #ff610f;
}

.subA h2 a:hover {
    color: #1f88c7;

}

.subA h3 {
    height: 40px;
    overflow: hidden;
}

.subA h3 a {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    color: #5b5b5c;

}

.subA h3 a:hover {
    color: #ababab;

}

.subB {
    padding-top: 20px;
    padding-bottom: 10px;
}

.subB ul li {
    padding-left: 5px;
    height: 28px;
    line-height: 28px;
}

.subB ul li a {
    display: block;
    font-size: 14px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.subB ul li a:hover {
    color: #1f88c7;
}

.right {
    float: left;
    width: 300px;
    height: 100%;
}

.right::after {
    clear: both;
}

.hotList {
    height: 200px;
    border: 1px solid #ccc;
    border-top: none;
    margin-bottom: 20px;
}

.hotList ul li {
    box-sizing: border-box;
    height: 100px;
    padding: 5px;
}

.hotList ul li a {
    display: inline-block;

}

.hotList ul li a.imgWrapper {
    margin-top: 10px;
    margin-left: 10px;
}

.hotList ul li .txtWrapper {
    height: 70px;
    width: 170px;
    vertical-align: bottom;
    display: inline-block;
}

.hotList ul li .txtWrapper a {
    margin-left: 10px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #1f88c7;
}

.hotList ul li .txtWrapper a:hover {
    color: #ff610f;
}

.hotList ul li .txtWrapper p {
    text-align: left;
    margin: auto;
    margin-top: 5px;

    width: 150px;
    height: 40px;
    font-size: 10px;
    line-height: 20px;
}

.hotList ul li img {
    height: 70px;
    width: 100px;
}

/*中部图片*/
.mid-pic {
    height: 120px;
    /*background-color: #dea704;*/

}

/*区域二*/
.down {
    overflow: auto;
    padding-top: 10px;
    /*background-color: #f2f2f2;*/
}

.down-left {
    float: left;
    width: 670px;
    padding: 10px 10px 0px 10px;
    background-color: #ffffff;
}

.down-right {
    float: left;
    margin-left: 10px;
    width: 300px;
}

#scroll-pic {
    position: relative;
    overflow: hidden;
}

#scroll-pic .scr-l {
    display: block;
    float: left;
    width: 360px;
}

#scroll-pic .scr-r {
    box-sizing: border-box;
    height: 240px;
    float: left;
    padding: 0 20px;
    width: 304px;
    position: relative;
    background-color: #ffffff;
}

#scroll-pic .scr-tit {
    padding: 0px 0 14px;
    margin-top: 20px;
    text-align: center;

}

#scroll-pic .scr-tit a {
    color: #0a4390;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
}

#scroll-pic .scr-tit a:hover {
    color: #ea6103;
}

#scroll-pic .scr-deck {
    margin-top: 10px;
    color: #3f3f3f;
    font-size: 14px;
    line-height: 24px;
    text-align: center;

}

#scroll-pic .scr-bd {
    clear: both;
    display: block;
    overflow: hidden;
    height: 240px;
}

#scroll-pic .scr-hd {
    margin-top: 10px;
}

#scroll-pic .scr-hd li {
    background: #f2f2f2;
    float: left;
    height: 115px;
    margin-right: 7px;
    padding: 12px 6px 6px;
    width: 115px;
    text-align: center;
}

#scroll-pic .scr-hd a {
    color: #3f3f3f;
}

#scroll-pic .scr-hd .on {
    background: #1b6fa5 53px 0 no-repeat;
    border-radius: 3px;
}

#scroll-pic .scr-hd .on a {
    color: #fff;
}

#scroll-pic .btnt {
    font-family: \5b8b\4f53;
    width: 36px;
    height: 36px;
    font-size: 24px;
    color: #fff;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 190px;
    z-index: 2;
    border-radius: 50%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

#scroll-pic .btnt:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#scroll-pic .btnt.prev {
    left: 12px;
}

#scroll-pic .btnt.next {
    right: 12px;
}

#scroll-pic .scr-hd span {
    margin-top: 7px;
    float: left;
    width: 100%;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}

#scroll-pic .title {
    height: 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 80px;
}

#scroll-pic .title a {
    font-size: 18px;
    font-weight: bold;
}

#scroll-pic .info {
    font-size: 12px;
    color: #999;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    white-space: pre;
}

#scroll-pic .title span {
    font-size: 12px;
    color: #fff;
    background-color: #f3513b;
    display: inline-block;
    padding: 0 4px;
    position: relative;
    top: -2px;
    font-weight: bold;
}

#scroll-pic .title span:before {
    content: '';
    border: 5px solid transparent;
    border-left-color: #f3513b;
    position: absolute;
    left: 0;
    bottom: -5px;
}

#scroll-pic .inner .title a {
    font-size: 18px;
    font-weight: bold;
}

#scroll-pic.inner .info {
    font-size: 12px;
    color: #999;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}

#scroll-pic .scr-r {
    position: relative;
}

#scroll-pic #share {
    margin-bottom: -27px;
    margin-left: 18px;
}

#scroll-pic .tempWrap {
    overflow: hidden;
    position: relative;
    width: 670px;
}

#scroll-pic .tempWrap ul {
    width: 4690px;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    left: -2010px;
}

#scroll-pic .tempWrap ul li {
    width: 670px;
    float: left;
}

#scroll-pic .tempWrap ul li img {
    width: 360px;
    height: 240px;
}

.tender-info {
    margin-top: 20px;
}

.tender-title {
    height: 44px;
    padding: 0 16px;
    line-height: 44px;
    background-color: #0a4390;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.tender-title p {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
}

.tender-title p em {
    font-size: 14px;
    font-weight: 400;
    margin-left: 15px;
}

.tender-items {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    overflow: hidden;
    float: left;
    width: 324px;
    color: #a2a2a2;
    padding-right: 10px \9;
}

.tender-items:nth-child(odd) {
    margin-right: 20px;
    margin-right: 0 \9
    \0;
}

.tender-items .tender-area {
    width: 40px;
    display: inline-block;
    float: left;
}

.tender-items a {
    display: inline-block;
    width: 242px;
    float: left;
}

.tender-items a:hover {
    color: #0a4390
}

.tender-items .span-gray {
    font-size: 10px;
    display: inline-block;
    width: 42px;
    text-align: right;
}

.conright li {
    float: left;
    width: 149px;
    height: 55px;
    margin-bottom: 2px;
    background-color: #11c681;
}

.conright li:nth-child(2n+1) {
    margin-right: 2px;
}

.conright li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    line-height: 55px;
}

.conright li a:hover {
    background-color: #029255;
}

.conright img {
    width: 300px;
}

.special-ul img {
    width: 300px;
    height: 110px;
}

.special-li a {
    display: block;
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
}

/*区域三*/
.bigData {
    margin-top: 20px;
    overflow: auto;
}
.bigTitle{
    font-size: 22px;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #0a4390;
    text-align: center;
}
.bigData-left {
    box-sizing: border-box;
    padding-right: 10px;
    float: left;
    width: 700px;
}

.bigData-show {
    height: 300px;
}

.bigData-right {
    float: left;
    width: 300px;
}
.businessList {
    box-sizing: border-box;
    height: 200px;
    border: 1px solid #ccc;
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: #ffffff;

    box-shadow: 0 2px 4px #ccc;

}

.businessList .icon_circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #9cc4ce;
    margin-right: 5px;
}

.businessList .bd li {
    border-bottom: 1px dotted #ccc;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.businessList .bd li a:hover {
    color: #1177ce;
}

.map {
    font-family: 'Microsoft YaHei', HiraginoSansGB-W3, Arial, Lucida Grande, Tahoma, sans-serif;
    color: #555;
    line-height: 24px;
    position: relative;
    height: 368px;
    width: 690px;
    background: url(http://i.cggthinktank.com/20131226/images/map.gif) left top no-repeat;
}

.map .zhou {
    position: absolute;
    cursor: default;
    padding: 20px 20px 0 20px;
}

.map .oceania {
    top: 260px;
    right: 0px;
    width: 125px;
    height: 85px;
}

.map .asia {
    top: 50px;
    right: 0px;
    width: 180px;
    height: 150px;
}

.map .africa {
    top: 175px;
    left: 300px;
    width: 100px;
    height: 100px;
}

.map .europe {
    top: 50px;
    left: 320px;
    width: 100px;
    height: 100px;
}

.map .south {
    top: 215px;
    left: 170px;
    width: 85px;
    height: 140px;
}

.map .north {
    top: 40px;
    left: 0px;;
    width: 270px;
    height: 140px;
}

.map .zh {
    font-size: 24px;
    display: none;
}

.map .en {
    font-size: 14px;
    display: none;
}

.continentnews {
    border-radius: 5px;
    background: #fff;
    width: 200px;
    padding: 0 10px;
    border: #f0f0f0 1px solid;
    box-shadow: 0 2px 14px #ccc;
    position: absolute;
    display: none;
}

.continentnews h2 {
    font-size: 18px;
    line-height: 24px;
    padding: 4px 0 8px 0;
    font-weight: bold;
}

.continentnews h2 a {
    color: #000;
}

.continentnews h2 a:hover {
    color: #c00;
}

.continentnews-ct {
    overflow: hidden;
    padding-bottom: 10px;
}

.continentnews-ct img {
    width: 43px;
    height: 34px;
    float: left;
}

.continentnews-ct ul {
    margin-left: 50px;
}

.continentnews-ct .en {
    font: 14px Verdana, Arial, 'Microsoft YaHei';
}

.continentnews-ct .en a {
    color: #000;
}

.continentnews-ct .en a:hover {
    color: #c00;
}

.continentnews-ct .zh {
    color: #999;
    font: 10px Verdana, Arial, 'Microsoft YaHei';
}

.continentnews-ct .zh a {
    color: #999;
}

.continentnews-ct .zh a:hover {
    color: #c00;
}

.continentnews-list {
    clear: both;
    padding: 0px 0px 10px 0;
}

.continentnews-list a {
    color: #333;
    font-size: 12px;
    margin-right: 5px;

}

.continentnews-list a:hover {
    color: #f57658;
}

.continentnews:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

/*风险*/
.risk {
    margin-top: 20px;
    overflow: auto;
}

.risk-left {
    float: left;
    width: 690px;
    margin-right: 10px;
}

.risk-show {
    overflow: auto;

}

.risk-show li{
    padding: 15px 0 ;
}
.risk-show li a{
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: #1f88c7;
}

.risk-show li img {
    width: 150px;
    height: 100px;
}
.risk-show li .txtWrapper{
    display: inline-block;
    vertical-align: bottom;
    height: 100px;
    width: 500px;
    text-align: center;
}
.risk-show li .txtWrapper p.date{
    color: #ccc;
}
.risk-show li .txtWrapper p{
    width: 400px;
    font-size: 12px;
    margin: auto;
    margin-top: 5px;
    color: #000;
    line-height: 17px;
}

.risk-right {
    float: left;
    width: 300px;
}

.riskList {
    height: 385px;
}

/*地方平台推介*/
.recommend {
    height: 500px;
}

.recommend-left {
    float: left;
    width: 690px;
    margin-right: 10px;
}

.risk-left .tempWrap {
    overflow: hidden;
    position: relative;
    width: 690px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;

}

.risk-left .tempWrap ul {
    width: 1590px;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.risk-left .tempWrap li {

    float: left;
    width: 135px;
    margin-right: 20px;
    border: 1px solid #ccc;

}

.risk-left .tempWrap .title {
    height: 40px;
}

.risk-left .tempWrap .title p {
    font-size: 12px;
    text-align: center;
    height: 40px;
    line-height: 20px;
}

.risk-left .tempWrap .title p a {
    color: #1f88c7;

}

.risk-left .tempWrap li img {
    width: 135px;
}

.recommend-right {
    width: 300px;
    float: left;
}

.cont {
}



.comTitle-bigData{
    display: inline-block;
    vertical-align: top;
    width: 180px;
    /*overflow: auto;*/
    position: relative;

}
/*.comTitle-bigData .tagName{*/
    /*clear: both;*/
/*}*/
.comTitle-bigData .construct{
    position: absolute;
    top: 43px;
    width: 100%;
    padding: 10px 0;
    height: 280px;
    border: 1px solid #ccc;
    background-color: #ffffff;
}
.comTitle-bigData .construct a{
    height: 30px;
    line-height: 30px;
    display: block;

}
.comTitle-bigData .construct a:hover{
    color: #ff610f;
}

.comTitle-bigData .construct li{
    font-size: 14px;
    text-align: center;
}
#bigdata_tab  {
    display: inline-block;
    width: 500px;
    background: #f3f3f3;
}

#bigdata_tab  .tab_tag {
    width: 100%;
    height: 44px;
    border-bottom: none;
    overflow: hidden;
    zoom: 1;
}

#bigdata_tab .tab_tag a {
    display: inline;
    float: left;
    width: 125px;
    height: 40px;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
    font-weight: bold;
    color: #2d2d2d;
    border-bottom: 3px solid #1f88c7;

}

#bigdata_tab .tab_tag a:hover {
    text-decoration: none;
}

#bigdata_tab .tab_tag a.cur {
    border-bottom: 3px solid #ff610f;
    color: #1f88c7;
}

#bigdata_tab .tab_con {
    /*border: 1px solid #8cb0e0;*/
    height: 300px;
    /*padding: 35px 15px;*/
    background: #fff;
    box-shadow: 0 2px 4px #ccc;

}
#bigdata_tab .tab_con .continent li{
    float: left;
    width: 164px;
    border: 1px solid #ccc;
    border-right: none;
    height: 148px;

}
#bigdata_tab .tab_con .continent li a{
    margin: 5px 0;
    display: block;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
}
#bigdata_tab .tab_con .continent li a:hover{
    color: #ff610f;
}
#bigdata_tab .tab_con .continent li a img{
    width: 100px;
    height: 100px;
}
/*分割线*/
#cont_tab  {
    background: #f3f3f3;
}

#cont_tab  .tab_tag {
    width: 100%;
    height: 44px;
    border-bottom: none;
    overflow: hidden;
    zoom: 1;
}

#cont_tab .tab_tag a {
    display: inline;
    float: left;
    width: 100px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
    font-weight: bold;
    color: #2d2d2d;


}

#cont_tab .tab_tag a:hover {
    text-decoration: none;
}

#cont_tab .tab_tag a.cur {
    border-top: 3px solid #ff610f ;
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;
    color: #1f88c7;
    box-shadow: 0 2px 4px #ccc;
}

#cont_tab .tab_con {
    /*border: 1px solid #8cb0e0;*/
    padding: 35px 15px;
    background: #fff;
    box-shadow: 0 2px 4px #ccc;

}


.cooperator{
    padding: 20px;
    overflow: auto;
    border: 1px solid #ccc;
}

.cooperator li{
    float: left;
    width: 124px;
    height: 80px;
    margin-bottom: 10px;
}
.cooperator li a{
    display: block;
}
.cooperator li img{
    width: 124px;
    height: 80px;
    border-radius: 10px;

}
.cooperator li:nth-child(2n+1){
    margin-right: 10px;
}


/*页脚*/
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}
.upper{
    background-color: #2d2d2d;
}
.lower{
    background-color: #0b4491;
}
.footer-info{
    margin-top: 10px;
    float: right;
    margin-left: 50px;
    height: 70px;
    line-height: 50px;
    color: #ffffff;
}
.footer-info a{
    color: white;
}

.footer-info p{
    /*color: white;*/
    text-align: right;
}
.f_top{border-bottom:1px solid #000000;margin:0px 6px;padding:35px 0px 30px 0px;}
.f_topInner{overflow: auto}
.f_contact{display:inline;float:left;width:336px;}
.f_contact h3{font-weight:bold;line-height:1.2em;margin-bottom:15px;}
.f_contact h3 a{color:#fff;}
.f_contact p{color:#adadad;padding:0px 35px 0px 32px;margin:10px 0px;line-height:18px;}
.f_contact p.f_phone{background:url(../i/phone.png) no-repeat 8px 0px;}
.f_contact p.f_msg{background:url(../i/msg.png) no-repeat 8px 3px;}
.f_contact p.f_addr{background:url(../i/addr.png) no-repeat 8px 2px;}
.f_menu{display:inline;float:right;width:650px;}
.f_menu dl{display:inline;float:left;font-size:12px;line-height:18px;}
.f_menu dl.a{width:116px;}
.f_menu dl.b{width:124px;}
.f_menu dl.c{width:126px;}
.f_menu dl.d{width:164px;}
.f_menu dl.e{width:120px;}
.f_menu dt{font-weight:bold;margin-bottom:10px;}
.f_menu dl a{display:block;white-space:nowrap;}
.f_menu dt a{color:#adadad;}
.f_menu dd a{
    color:#969696;
    font-size:12px;
    font-size:10px\0;
    font-size:12px\9\0;
    *font-size:10px;
    transform:scale(.9);
    transform-origin:left;
    -webkit-transform:scale(.9);
    -webkit-transform-origin:left;
    -moz-transform:scale(.9);
    -moz-transform-origin:left;
}
.f_m{border-top:1px solid #4b4b4b;margin:0px 6px;padding:20px 0px 18px;overflow: auto}
.f_care{display:inline;float:left;width:500px;height:43px;font-size:0px;line-height:0px;}
.f_care span{display:inline-block;line-height:42px;font-size:12px;color:#fff;font-weight:bold;margin-right:20px;}
.f_care span,.f_care a{vertical-align:top;}
.f_care a{margin-right:12px;}
.f_links{display:inline;float:right;width:380px;text-align:right;}
.f_links span{color:#fff;font-weight:bold;}
.f_links select{width:302px;height:30px;background:#000;color:#8d8d8d;border:none;margin-left:10px;}
.f_links select:focus{outline:none;}
.f_b{height:70px;background:url(../i/f_b.png) repeat-x;}
.f_logo,.f_logo2{display:inline;float:left;}
.f_b p{text-align:right;color:#fff;line-height:70px;}


/*新浪*/
.wrap{width:1000px;margin:0 auto}
.wrap-bg{background:url(http://i2.sinaimg.cn/blog/deco/2014/0508/imgs/r2.png) 0 0 repeat-y;margin-top:25px}
.col730{width:730px;float:left}
.col700{width:700px;float:left}
.col520{width:520px;float:left}
.col505{width:505px;float:left}
.col300{width:300px;float:left}
.col270{width:270px;float:left}
.col265{width:265px;float:left}
.col175{width:175px;float:left}
.col130{width:130px;float:left}
.left{float:left}
.top-nav{padding:2px 0}
.top-n-left{line-height:86px;height:86px}
.top-n-left a{float:left;height:86px}
.top-n-left img{display:block;padding-top:5px}
.top-n-right{float:right;color:#6b615d;padding-top:34px;margin-left:6px}
.top-n-right a{display:inline-block}
.index-aside    {padding-top:3px}
.index-aside .tag-content{padding-top:20px}
.index-aside .tag-content a{float:left;height:40px;line-height:40px;color:#fff;font-size:18px;padding:0 20px;-webkit-border-radius:3px;-webkit-background-clip:padding-box;-moz-border-radius:3px;-moz-background-clip:padding;border-radius:3px;background-clip:padding-box;background-color:#83c2eb;margin:0 10px 10px 0;white-space:nowrap}
.index-aside .tag-content a:hover{text-decoration:none;background-color:#0085da}
.index-aat-left{float:left;padding-bottom:10px;border-bottom:2px solid #838383;position:relative;top:1px}
.index-aatl-in{font-size:18px;font-family:'microsoft yahei','simhei';font-weight:bold;padding-left:5px;border-left:5px solid #0085da}
.index-aat-right{float:right}
.index-aatr-prev{float:left;width:20px;height:20px;background-image:url(http://i2.sinaimg.cn/blog/deco/2014/0508/imgs/index_bridge04.png);background-position:-142px -76px}
.index-aatr-prev:hover{background-image:url(http://i2.sinaimg.cn/blog/deco/2014/0508/imgs/index_bridge04.png);background-position:-142px -97px}
.index-aatr-next{float:left;width:20px;height:20px;background-image:url(http://i2.sinaimg.cn/blog/deco/2014/0508/imgs/index_bridge04.png);background-position:-2900px -108px}
.index-aatr-next:hover{background-image:url(http://i2.sinaimg.cn/blog/deco/2014/0508/imgs/index_bridge04.png);background-position:-3146px -22px}
.index-aatr-page{float:left;color:#8b8b8b;line-height:20px;padding:0 5px}
.index-aatr-more{display:block;height:18px;line-height:18px;padding:0 10px;background-color:#fafafa;border:1px solid #d2dce5;_float:left}
.index-aa-title{border-bottom:1px solid #dadada;background-color: #ffffff;padding-top:5px }
.index-aaci-box{float:left;margin:10px 15px 0 0;_display:inline}
.index-aaci-box:nth-child(3n){margin:10px 0 0 0;}

.index-aaci-box a{display:block;position:relative;width:90px;height:90px}
.index-aaci-box a:hover{text-decoration:none}
.index-aaci-box img{vertical-align:middle}
.index-aacib-desc{position:absolute;display:block;text-align:center;bottom:0;left:0;line-height:20px;color:#fff;background:rgba(0,0,0,.6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000') \9;width:100%}
.index-aacib-hover{visibility:hidden;display:block;width:100%;background:rgba(0,0,0,.8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CC000000',endColorstr='#CC000000') \9;position:absolute;top:0;left:0}
.index-aacibh-in{padding:0 5px;color:#fff;display:block}
.index-aac-in{width:300px;position:relative;height:300px;overflow:hidden;background-color: #ffffff}
.index-aaci-wrap{width:300px;float:left}
.index-aaci-wrap .hover .index-aacib-hover{visibility:visible}
.index-a-hot{padding-top:25px}
.index-ahc-title{font-size:14px;line-height:45px}
.index-ah-content .blue{background-color:#0085da}
.index-ah-content .gray{background-color:#535252}
.index-ah-content dl{border-bottom:1px dotted #dbdbdb}
.index-ah-content dt{line-height:40px;height:40px}
.index-ah-content dt em{float:left;margin-top:8px}
.index-ah-content dt a{float:left;font-size:16px}
.index-ah-content dd{display:none;margin-left:0}
.index-ah-content em{display:inline-block;width:20px;height:20px;line-height:200px;overflow:hidden;margin-right:10px}
.index-ah-content .img{float:left;width:110px}
.index-ah-content .content{float:left;width:190px}
.index-ah-content .selected dd{display:block;padding-bottom:20px}
.index-ah-content .selected dd a{font-size:16px;font-family:'microsoft yahei','simhei'}


